---
import { AstroFont } from 'astro-font';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Intestazione from '../components/Intestazione.astro';
import Servizi from '../components/Servizi.astro';
import Sedi from '../components/Sedi.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="it">
<head>
	<meta name="keywords" content="Riparazione Tapparelle elettriche Bresso, Tapparelista Bresso, Sostituzione tapparelle Bresso, Riparazione tapparelle Bresso, Riparazione e sostituzione tapparelle Bresso, Assistenza e sostituzione tapparelle Bresso">
	<meta name="robots" content="index, follow">
	<meta name="author" content="code22.servehttp.com">
	<meta http-equiv="Content-Language" content="it">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body class="bg-white dark:bg-gray-900">
<Header />
<main class="space-y-20 mb-20">
	<Intestazione />
	<Servizi />
	<Sedi />
</main>
<Footer />

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function () {
	window.cookieconsent.initialise({
		palette: {
			popup: { background: "#000" },
			button: { background: "#0033f0" }
		},
		theme: "classic",
		position: "bottom-right",
		type: "opt-in",
		revokable: false,
		content: {
			message: "Questo sito utilizza i cookie per migliorare l'esperienza.",
			allow: "Accetta",
			deny: "Rifiuta",
			link: "Leggi di più",
			href: "./privacy-policy"
		},
		showLink: true,
		elements: {
			allow: '<button aria-label="consenti" class="cc-btn cc-allow">{{allow}}</button>',
			deny: '<button aria-label="rifiuta" class="cc-btn cc-deny">{{deny}}</button>'
		},
		onInitialise: function (status) {
			const didConsent = this.hasConsented();
			if (!didConsent) {
				// Disattiva script di terze parti qui se necessario
              console.log("Cookies rifiutati");
			}
		},
		onStatusChange: function (status, chosenBefore) {
			const didConsent = this.hasConsented();
			if (!didConsent) {
				// Disattiva o previeni caricamento cookie non essenziali
              console.log("Consenso negato");
			}
		}
	});
});
</script>
</body>
</html>
