<header>
	<nav>
		<div class="logo">
			<img src="./logo.png" alt="Logo Tap System" class="logo-img">
		</div>
		<div class="contact">
			<a href="tel:+393890979120" class="call-btn">
				<img
					src="https://cdn-icons-png.flaticon.com/512/17910/17910500.png"
					class="phone-icon"
					width="32"
					height="32"
					alt="phone illustration"
				/>
				<span class="phone">389 097 9120</span>
			</a>
		</div>
	</nav>
</header>

<style>
	:root {
		--primary-color: #333; /* Grigio scuro per il testo */
		--accent-color: #0033f0; /* Blu chiaro per il pulsante */
		--background-color: #FBFBFB; /* Colore di sfondo chiaro */
		--hover-color: #357ABD; /* Blu più scuro per hover */
		--font-family: 'Roboto', sans-serif;
	}

	body {
		font-family: var(--font-family);
		background-color: var(--background-color);
		margin: 0;
		padding: 0;
		padding-top: 70px;
	}

	header {
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		padding: 20px 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.logo-img {
		max-width: 100%;
		height: auto;
		width: 120px;
	}

	.contact a.call-btn {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 500;
		color: white;
		background-color: var(--accent-color);
		padding: 12px 30px;
		border-radius: 30px;
		text-decoration: none;
		text-align: center;
		transition: background-color 0.3s ease;
		border: 2px solid transparent;
		display: flex;
		align-items: center;
		gap: 10px;
	}


	.phone {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.phone-icon {
		width: 24px;
		height: 24px;
		margin-right: 10px;
	}

	/* Responsive */
	@media (max-width: 768px) {
		nav {
			flex-direction: column;
			align-items: flex-start;
		}

		.logo-img {
			width: 100px;
		}

		.contact {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 20px;
		}

		.call-btn {
			font-size: 1.0rem;
			padding: 10px 25px;
		}

		.phone {
			font-size: 1.5rem;
		}
	}
</style>
