<header>
	<nav>
		<div class="logo">
			<img src="./logo.png" alt="Logo Tap System" class="logo-img" />
		</div>
		<div class="contact">
			<a href="tel:+393513092439" class="call-btn">
				<img
					src="https://cdn-icons-png.flaticon.com/512/17910/17910500.png"
					class="phone-icon"
					alt="phone icon"
				/>
				<span class="phone">351 309 2439</span>
			</a>
		</div>
	</nav>
</header>

<style>
	:root {
		--primary-color: #333;
		--accent-color: #0033f0;
		--background-color: #FBFBFB;
		--hover-color: #357ABD;
		--font-family: 'Roboto', sans-serif;
	}

	body {
		font-family: var(--font-family);
		background-color: var(--background-color);
		margin: 0;
		padding: 0;
		padding-top: 70px; /* Spazio per header */
	}

	header {
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		padding: 14px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
		min-height: 70px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.logo-img {
		width: 90px;
		height: auto;
	}

	.contact a.call-btn {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 1.1rem;
		font-weight: 500;
		color: white;
		background-color: var(--accent-color);
		padding: 10px 24px;
		border-radius: 26px;
		text-decoration: none;
		transition: background-color 0.3s ease;
	}

	.call-btn:hover {
		background-color: var(--hover-color);
	}

	.phone-icon {
		width: 20px;
		height: 20px;
		margin-right: 6px;
	}

	.phone {
		font-size: 1.1rem;
		font-weight: 500;
	}

	/* Responsive */
	@media (max-width: 768px) {
		nav {
			flex-direction: row; /* Imposta la direzione in linea per la visualizzazione mobile */
			align-items: center;
			justify-content: space-between;
		}

		.logo-img {
			width: 80px;
		}

		.contact {
			display: flex;
			align-items: center;
		}

		.call-btn {
			font-size: 1rem;
			padding: 8px 20px;
		}

		.phone {
			font-size: 1rem;
		}
	}
</style>
